<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314190526828-gl2gb2kns2ni3o8u2nv1bqfa1hp63v23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314190526828-gl2gb2kns2ni3o8u2nv1bqfa1hp63v23</string>
	<key>API_KEY</key>
	<string>AIzaSyBD0z_TnWgsgq-m6u740sYyN58Yyq6_ebk</string>
	<key>GCM_SENDER_ID</key>
	<string>314190526828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecom-v2-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>ecom-v2-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314190526828:ios:aaf922f7e9f13938f51b49</string>
</dict>
</plist>